<!doctype html>
<html>
  <head>
    <title> TO-DO AngularJS </title>
  </head>
  <body ng-app="TodoApp">
    <table ng-controller="TasksController as todo">
      <tr ng-repeat="task in todo.tasks">
        <th>{{task.title}}</th>
        <td><button type="button" ng-click="todo.setTaskAsCompleted($index)">Completed</button></td> 
      </tr>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> 
    <script>

      angular.module('TodoApp', [])
        .controller('TasksController', function() {
          this.tasks = [
            {title: "One"},
            {title: "Two"},
            {title: "Third"}
          ];

          this.setTaskAsCompleted = function(index) {
            this.tasks.splice(index, 1);
          }
        });

    </script>
  </body>
</html>
